NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY

APP_BASE_URL=https://YOUR_VERCEL_DOMAIN.vercel.app

SIRO_HOMO_USER=UsuarioTestApi
SIRO_HOMO_PASSWORD=Hola123
SIRO_PROD_USER=YOUR_PROD_USER
SIRO_PROD_PASSWORD=YOUR_PROD_PASSWORD

SIRO_CONVENIO_ID=5150058293
SIRO_ADMIN_CUIT=20233953270
